.row
  .col-md-12
    .container-inner
      %h1.main-title.single-title.entry-title{:itemprop => "headline"} Contact
      .row
        .col-md-8.single-post-selector
          .single-page.hidden-contents-menu.classic-post
            #post-17983.post-content.post-selector{"data-href" => "http://www.androidauthority.com/contact/", "data-postid" => "17983"}
              .post-right.content-panel.wide.content-panel
                .aa_item_info_block.aa_top_info_block
                  %a.aa_postauthor_link{:href => "http://www.androidauthority.com/author/derekscott/"}
                    %img.avatar.avatar-32.photo{:alt => "", :height => "32", :src => "http://1.gravatar.com/avatar/4b67ad0f1e2f5b8a9897b90ba063fcbb?s=32&d=mm&r=g", :srcset => "http://1.gravatar.com/avatar/4b67ad0f1e2f5b8a9897b90ba063fcbb?s=64&d=mm&r=g 2x", :width => "32"}/
                    %span
                      by
                      %span.aa_item_author Derek Scott
                  %span.aa_item_time June 28, 2011
                  .single_share_block.single_post_additional_block.short
                    .aa_socials.single_socs.clearfix
                      %a.soc.fb.window.activated{:href => "https://www.facebook.com/sharer.php?app_id=598473026880919&u=http://www.androidauthority.com/contact/&t=Contact", :rel => "me", :target => "_blank", :title => "Share on Facebook"}
                        %span.soc_count 45
                      %a.soc.tw.window.activated{:href => "https://twitter.com/intent/tweet?url=http://www.androidauthority.com/contact/&text=Contact", :rel => "me", :target => "_blank", :title => "Share on Twitter"}
                        %span.soc_count 9
                      %a.soc.g.window.activated{:href => "https://plus.google.com/share?url=http://www.androidauthority.com/contact/", :rel => "me", :target => "_blank", :title => "Share on Google +"}
                        %span.soc_count
                  .clear
                .the-content.padded-panel
                  #content-anchor
                  #content-anchor-inner.clearfix
                    .aa_mob_padding The contact form is for general inquiries only. Please refer to the links below to get in touch with the right department.
                    .aa_departaments_wrapper.clearfix
                      .aa_departament.aa_support
                        .aa_departament_title
                          %a{:href => "http://www.androidauthority.com/community/", :target => "_blank"} Support
                        .aa_departament_content
                          %a.loop-link{:href => "http://www.androidauthority.com/community/", :target => "_blank"}
                          %p
                          .aa_departament_descr All technical support questions should be asked in our Forums.
                      .aa_departament.aa_app
                        .aa_departament_title
                          %a{:href => "http://www.androidauthority.com/app-developers/", :target => "_blank"} App Developers
                        .aa_departament_content
                          %a.loop-link{:href => "http://www.androidauthority.com/app-developers/", :target => "_blank"}
                          %p
                          .aa_departament_descr See how you can get your app on AA.
                      .aa_departament.aa_adv
                        .aa_departament_title
                          %a{:href => "http://www.androidauthority.com/advertise/", :target => "_blank"} Advertising
                        .aa_departament_content
                          %a.loop-link{:href => "http://www.androidauthority.com/advertise/", :target => "_blank"}
                          %p
                          .aa_departament_descr View our advertising opportunities.
                      .aa_departament.aa_contr
                        .aa_departament_title
                          %a{:href => "http://www.androidauthority.com/contribute/", :target => "_blank"} Contribute
                        .aa_departament_content
                          %a.loop-link{:href => "http://www.androidauthority.com/contribute/", :target => "_blank"}
                          %p
                          .aa_departament_descr Want to join our team? View available positions &amp; apply.
                    .aa_mob_padding
                      #gform_wrapper_44.gf_browser_unknown.gform_wrapper{:style => ""}
                        %a#gf_44.gform_anchor{:target => "_blank"}
                        %form#gform_44{:action => "/contact/#gf_44", :enctype => "multipart/form-data", :method => "post", :target => "gform_ajax_frame_44"}
                          .gform_body
                            %ul#gform_fields_44.gform_fields.top_label.form_sublabel_below.description_below
                              %li#field_44_1.gfield.gform_hidden.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %input#input_44_1.gform_hidden{"aria-invalid" => "false", :name => "input_1", :type => "hidden", :value => "157.55.39.8"}/
                              %li#field_44_2.gfield.gform_hidden.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %input#input_44_2.gform_hidden{"aria-invalid" => "false", :name => "input_2", :type => "hidden", :value => "03/05/2017"}/
                              %li#field_44_9.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label
                                .ginput_container.ginput_container_checkbox
                                  %ul#input_44_9.gfield_checkbox
                                    %li.gchoice_44_9_1
                                      %span.trans-element-checkbox.unchecked
                                        %input#choice_44_9_1{:name => "input_9.1", :onclick => "gf_apply_rules(44,[12,11,13]);", :onkeypress => "gf_apply_rules(44,[12,11,13]);", :style => "display: none;", :tabindex => "1", :type => "checkbox", :value => "This is a tip, send to the editorial team."}/
                                        %span.aa_check_shine
                                        %span.aa_uncheck_shine
                                      %label#label_44_9_1{:for => "choice_44_9_1"} This is a tip, send to the editorial team.
                              %li#field_44_3.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label.gfield_label_before_complex{:for => "input_44_3"}
                                  Name
                                  %span.gfield_required *
                                .ginput_container.ginput_container_name
                                  %input#input_44_3.medium{"aria-invalid" => "false", "aria-required" => "true", :name => "input_3", :tabindex => "2", :type => "text", :value => ""}/
                              %li#field_44_4.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label{:for => "input_44_4"}
                                  Email
                                  %span.gfield_required *
                                .ginput_container.ginput_container_email
                                  %input#input_44_4.medium{:name => "input_4", :tabindex => "3", :type => "email", :value => ""}/
                              %li#field_44_5.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label.gfield_label_before_complex{:for => "input_44_5"} Company Name
                                .ginput_container.ginput_container_name
                                  %input#input_44_5.medium{"aria-invalid" => "false", :name => "input_5", :tabindex => "4", :type => "text", :value => ""}/
                              %li#field_44_6.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label{:for => "input_44_6"} Website
                                .ginput_container.ginput_container_website
                                  %input#input_44_6.medium{"aria-invalid" => "false", :name => "input_6", :tabindex => "5", :type => "url", :value => ""}/
                              %li#field_44_7.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label{:for => "input_44_7"} Phone
                                .ginput_container.ginput_container_phone
                                  %input#input_44_7.medium{"aria-invalid" => "false", :name => "input_7", :tabindex => "6", :type => "tel", :value => ""}/
                              %li#field_44_8.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible
                                %label.gfield_label{:for => "input_44_8"}
                                  What's up?
                                  %span.gfield_required *
                                .ginput_container.ginput_container_textarea
                                  %textarea#input_44_8.textarea.medium{"aria-invalid" => "false", "aria-required" => "true", :cols => "50", :name => "input_8", :rows => "10", :tabindex => "7"}
                                  %grammarly-btn
                                    ._e725ae-textarea_btn._e725ae-not_focused{"data-grammarly-reactid" => ".0", :style => "z-index: 2; opacity: 1; transform: translate(599.656px, 198px);"}
                                      ._e725ae-transform_wrap{"data-grammarly-reactid" => ".0.0"}
                                        ._e725ae-status{"data-grammarly-reactid" => ".0.0.0", :title => "Protected by Grammarly"}  
                              %li#field_44_12.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible{:style => "display: none;"}
                                %label.gfield_label{:for => "input_44_12"} File
                                .ginput_container.ginput_container_fileupload
                                  %input#input_44_12.medium{"aria-describedby" => "extensions_message", :name => "input_12", :onchange => "javascript:gformValidateFileSize( this, 2147483648 );", :tabindex => "8", :type => "file"}/
                                  %span#extensions_message.screen-reader-text
                                  .validation_message
                              %li#field_44_11.gfield.field_sublabel_below.field_description_below.gfield_visibility_visible{:style => "display: none;"}
                                %label.gfield_label{:for => "input_44_11"} File
                                .ginput_container.ginput_container_fileupload
                                  %input#input_44_11.medium{"aria-describedby" => "extensions_message", :name => "input_11", :onchange => "javascript:gformValidateFileSize( this, 2147483648 );", :tabindex => "9", :type => "file"}/
                                  %span#extensions_message.screen-reader-text
                                  .validation_message
                              %li#field_44_13.gfield.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible{:style => "display: none;"}
                                %label.gfield_label
                                  Do you want credit for the tip?
                                  %span.gfield_required *
                                .ginput_container.ginput_container_radio
                                  %ul#input_44_13.gfield_radio
                                    %li.gchoice_44_13_0
                                      %span.trans-element-radio.unchecked
                                        %input#choice_44_13_0{:name => "input_13", :style => "display: none;", :tabindex => "10", :type => "radio", :value => "Yes"}/
                                        %span.aa_check_shine
                                      %label#label_44_13_0{:for => "choice_44_13_0"} Yes
                                    %li.gchoice_44_13_1
                                      %span.trans-element-radio.unchecked
                                        %input#choice_44_13_1{:name => "input_13", :style => "display: none;", :tabindex => "11", :type => "radio", :value => "No"}/
                                        %span.aa_check_shine
                                      %label#label_44_13_1{:for => "choice_44_13_1"} No
                          .gform_footer.top_label
                            %input#gform_submit_button_44.gform_button.button{:onclick => "if(window[\"gf_submitting_44\"]){return false;}  if( !jQuery(\"#gform_44\")[0].checkValidity || jQuery(\"#gform_44\")[0].checkValidity()){window[\"gf_submitting_44\"]=true;}  ", :onkeypress => "if( event.keyCode == 13 ){ if(window[\"gf_submitting_44\"]){return false;} if( !jQuery(\"#gform_44\")[0].checkValidity || jQuery(\"#gform_44\")[0].checkValidity()){window[\"gf_submitting_44\"]=true;}  jQuery(\"#gform_44\").trigger(\"submit\",[true]); }", :tabindex => "12", :type => "submit", :value => "Submit"}/
                            %input{:name => "gform_ajax", :type => "hidden", :value => "form_id=44&title=&description=&tabindex=1"}/
                            %input.gform_hidden{:name => "is_submit_44", :type => "hidden", :value => "1"}/
                            %input.gform_hidden{:name => "gform_submit", :type => "hidden", :value => "44"}/
                            %input.gform_hidden{:name => "gform_unique_id", :type => "hidden", :value => ""}/
                            %input.gform_hidden{:name => "state_44", :type => "hidden", :value => "WyJbXSIsIjRjMDQ3NzY2MGVmZDYyZmE1YzEwMjdlMTA4NDkyMGJiIl0="}/
                            %input#gform_target_page_number_44.gform_hidden{:name => "gform_target_page_number_44", :type => "hidden", :value => "0"}/
                            %input#gform_source_page_number_44.gform_hidden{:name => "gform_source_page_number_44", :type => "hidden", :value => "1"}/
                            %input{:name => "gform_field_values", :type => "hidden", :value => ""}/
                      %iframe#gform_ajax_frame_44{:name => "gform_ajax_frame_44", :src => "about:blank", :style => "display:none;width:0px;height:0px;", :title => "Ajax Frame"} This iframe contains the logic required to handle AJAX powered Gravity Forms.
                      :javascript
                        jQuery(document).ready(function($){gformInitSpinner( 44, 'http://www.androidauthority.com/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery('#gform_ajax_frame_44').load( function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_44');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_44').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;if(is_form){jQuery('#gform_wrapper_44').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_44').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_44').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_44').offset().top); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_44').val();gformInitSpinner( 44, 'http://www.androidauthority.com/wp-content/plugins/gravityforms/images/spinner.gif' );jQuery(document).trigger('gform_page_loaded', [44, current_page]);window['gf_submitting_44'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('#gforms_confirmation_message_44').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_44').replaceWith('<' + 'div id=\'gforms_confirmation_message_44\' class=\'gform_confirmation_message_44 gforms_confirmation_message\'' + '>' + confirmation_content + '<' + '/div' + '>');jQuery(document).scrollTop(jQuery('#gforms_confirmation_message_44').offset().top);jQuery(document).trigger('gform_confirmation_loaded', [44]);window['gf_submitting_44'] = false;}, 50);}else{jQuery('#gform_44').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [44, current_page]);} );} );
                      :javascript
                        if(typeof gf_global == 'undefined') var gf_global = {"gf_currency_config":{"name":"U.S. Dollar","symbol_left":"$","symbol_right":"","symbol_padding":"","thousand_separator":",","decimal_separator":".","decimals":2},"base_url":"http:\/\/www.androidauthority.com\/wp-content\/plugins\/gravityforms","number_formats":[],"spinnerUrl":"http:\/\/www.androidauthority.com\/wp-content\/plugins\/gravityforms\/images\/spinner.gif"};jQuery(document).bind('gform_post_render', function(event, formId, currentPage){if(formId == 44) {gf_global["number_formats"][44] = {"1":{"price":false,"value":false},"2":{"price":false,"value":false},"9":{"price":false,"value":false},"3":{"price":false,"value":false},"4":{"price":false,"value":false},"5":{"price":false,"value":false},"6":{"price":false,"value":false},"7":{"price":false,"value":false},"8":{"price":false,"value":false},"12":{"price":false,"value":false},"11":{"price":false,"value":false},"13":{"price":false,"value":false}};if(window['jQuery']){if(!window['gf_form_conditional_logic'])window['gf_form_conditional_logic'] = new Array();window['gf_form_conditional_logic'][44] = { logic: { 12: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"9","operator":"is","value":"This is a tip, send to the editorial team."}]},"nextButton":null,"section":null},11: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"9","operator":"is","value":"This is a tip, send to the editorial team."}]},"nextButton":null,"section":null},13: {"field":{"actionType":"show","logicType":"all","rules":[{"fieldId":"9","operator":"is","value":"This is a tip, send to the editorial team."}]},"nextButton":null,"section":null} }, dependents: { 12: [12],11: [11],13: [13] }, animation: 0, defaults: {"1":"157.55.39.8","2":"03\/05\/2017"}, fields: {"1":[],"2":[],"9":[12,11,13],"3":[],"4":[],"5":[],"6":[],"7":[],"8":[],"12":[],"11":[],"13":[]} }; if(!window['gf_number_format'])window['gf_number_format'] = 'decimal_dot';jQuery(document).ready(function(){gf_apply_rules(44, [12,11,13], true);jQuery('#gform_wrapper_44').show();jQuery(document).trigger('gform_post_conditional_logic', [44, null, true]);} );} if(!/(android)/i.test(navigator.userAgent)){jQuery('#input_44_7').mask('(999) 999-9999').bind('keypress', function(e){if(e.which == 13){jQuery(this).blur();} } );}} } );jQuery(document).bind('gform_post_conditional_logic', function(event, formId, fields, isInit){} );
                      :javascript
                        jQuery(document).ready(function(){jQuery(document).trigger('gform_post_render', [44, 1]) } );
        .col-md-4.single-sidebar-selector.clearfix
          .content-panel.fixed-object.single-sidebar
            .widgets-wrapper
              .widgets.clearfix
                #text-49.widget.clearfix
                  .textwidget
                    .center.aa_intcont_300x250
                      #crt-351385.dsk-box-ad-a-adblock{:style => "display: none;"}
                      .tpd-box{"data-tpd-id" => "dsk-box-ad-a"}
                #aa_it_latest_articles-33.widget.clearfix
                  .post-container.widget-panel.compact-header.widget_a
                    .bar-header.clearfix
                      .bar-label
                        .label-text The Best
                    .content-inner.clearfix
                      .loop.widget-loop
                        .compact-panel.widget_a.add-active.clearfix
                          %a.overlay-link{:href => "http://www.androidauthority.com/best-android-phones-568001/"}  
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn01.androidauthority.net/wp-content/uploads/2016/10/google-pixel-xl-initial-review-aa-14-of-48-back-glass-150x150.jpg)"}
                          .article-info
                            .article-title Best Android phones
                            .aa_item_info_block
                              %span.aa_nn_domain_name.aa_nn_domain_color_androidauthority androidauthority
                        .compact-panel.widget_a.add-active.clearfix
                          %a.overlay-link{:href => "http://charged.io/best-drones/", :target => "_blank"}  
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn03.androidauthority.net/wp-content/uploads/2017/02/best-drones-2017.jpg)"}
                          .article-info
                            .article-title Best Drones
                            .aa_item_info_block
                              %span.aa_nn_domain_name.aa_nn_domain_color_charged charged
                        .compact-panel.widget_a.add-active.clearfix
                          %a.overlay-link{:href => "http://www.soundguys.com/best-bluetooth-earbuds-2014-2638/", :target => "_blank"}  
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://www.soundguys.com/wp-content/uploads/2016/10/Jaybird-X34-150x150.jpg)"}
                          .article-info
                            .article-title Best Wireless Bluetooth Earbuds
                            .aa_item_info_block
                              %span.aa_nn_domain_name.aa_nn_domain_color_soundguys soundguys
                        .compact-panel.widget_a.add-active.clearfix
                          %a.overlay-link{:href => "http://www.soundguys.com/best-headphones-2559/", :target => "_blank"}  
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://www.soundguys.com/wp-content/uploads/2014/06/audio-technica-ath-m40x-sg-3-150x150.jpg)"}
                          .article-info
                            .article-title Best Headphones of 2017
                            .aa_item_info_block
                              %span.aa_nn_domain_name.aa_nn_domain_color_soundguys soundguys
                #aa_it_latest_articles-24.widget.clearfix
                  .post-container.widget-panel.compact-header.widget_d
                    .bar-header.clearfix
                      .bar-label
                        .label-text
                          %a{:href => "http://www.androidauthority.com/tag/sunday-giveaway/"} Sunday Giveaway
                    .content-inner.clearfix
                      .loop.widget-loop
                        .overlay-panel.add-active.clearfix
                          %a.overlay-link{:href => "http://www.androidauthority.com/umidigi-z-pro-international-giveaway-754766/"}  
                          .article-image-wrapper.b-lazy.b-loaded{:style => "background: url(\"http://cdn02.androidauthority.net/wp-content/uploads/2017/03/umidigi-z-pro-double-camera-smartphone-wovow.org-02-300x200.jpg\");"}
                          .article-title-wrapper
                            %h4 UMIDIGI Z Pro International Giveaway!
                            .aa_item_info_block
                              %span.aa_item_time 6 hours ago
                              %span.aa_item_comments.aa-item-icon
                                %span.meta-comments.metric.info-right{"data-original-title" => "Comments", :title => ""}
                                  %span.numcount 6
                              %span.aa_item_comments  comments
                #text-71.widget.clearfix
                  .textwidget
                    #aa-subscribe-widget-wrap
                      %form#aa-subscribe-widget.validate{:action => "/", :method => "post", :name => "aa-subscribe-widget", :novalidate => ""}
                        .menu-form-group
                          %h4
                            Subscribe to Our
                            %span
                              Weekly
                              Newsletter
                          %input#aa-subscribe-email.required.email.subscribe-form-email{:name => "aa-subscribe-email", :placeholder => "Email address", :type => "email", :value => ""}/
                          %button#aa-subscribe-submit.aa-subscribe-button{:form => "aa-subscribe-widget", :type => "submit", :value => "Submit"} SUBSCRIBE
                          .required-empty-message.required-message{:style => "display: none"} The field is required
                          .required-valid-message.required-message{:style => "display: none"} Please enter a valid email address
                #aa_it_latest_articles-8.widget.clearfix
                  .post-container.widget-panel.compact-header.widget_a
                    .bar-header.clearfix
                      .bar-label
                        .label-text Latest News
                    .content-inner.clearfix
                      .loop.widget-loop
                        .compact-panel.widget_a.add-active.clearfix.category-1
                          %a.overlay-link{:href => "http://www.androidauthority.com/top-android-stories-march-5-2017-754774/"}
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn02.androidauthority.net/wp-content/uploads/2017/02/Huawei-P10-6-1-90x68.jpg)"}
                          .article-info
                            .article-title Must read: top 10 Android stories
                            .aa_item_info_block
                              %span.aa_item_time 28 minutes ago
                        .compact-panel.widget_a.add-active.clearfix.category-2390
                          %a.overlay-link{:href => "http://www.androidauthority.com/umidigi-z-pro-international-giveaway-754766/"}
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn02.androidauthority.net/wp-content/uploads/2017/03/umidigi-z-pro-double-camera-smartphone-wovow.org-02-90x68.jpg)"}
                          .article-info
                            .article-title UMIDIGI Z Pro International Giveaway!
                            .aa_item_info_block
                              %span.aa_item_time 6 hours ago
                        .compact-panel.widget_a.add-active.clearfix.category-58
                          %a.overlay-link{:href => "http://www.androidauthority.com/5-android-apps-you-shouldnt-miss-this-week-android-apps-weekly-72-754460/"}
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn03.androidauthority.net/wp-content/uploads/2017/03/aaw-energy-bar-screenshot-90x68.jpg)"}
                          .article-info
                            .article-title 5 Android apps you shouldn’t miss this week – Android Apps Weekly
                            .aa_item_info_block
                              %span.aa_item_time 9 hours ago
                        .compact-panel.widget_a.add-active.clearfix.category-1
                          %a.overlay-link{:href => "http://www.androidauthority.com/att-stream-saver-754732/"}
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn02.androidauthority.net/wp-content/uploads/2015/10/shutterstock_302934782-90x68.jpg)"}
                          .article-info
                            .article-title AT&amp;T begins to roll out Stream Saver video throttling feature
                            .aa_item_info_block
                              %span.aa_item_time 21 hours ago
                        .compact-panel.widget_a.add-active.clearfix.category-1
                          %a.overlay-link{:href => "http://www.androidauthority.com/shadowmatic-silhouette-based-puzzle-game-754729/"}
                          .article-image-wrapper
                            .article-image{:style => "background: url(http://cdn01.androidauthority.net/wp-content/uploads/2017/03/Screen-Shot-2017-03-04-at-12.30.40-90x68.png)"}
                          .article-info
                            .article-title Shadowmatic is a fun new silhouette-based puzzle game
                            .aa_item_info_block
                              %span.aa_item_time 22 hours ago
                #text-137.widget.clearfix
                  .textwidget
                    .center.aa_intcont_300x250
                      .tpd-box{"data-tpd-id" => "dsk-box-ad-b"}
                #text-140.widget.clearfix
                  .textwidget
                    .aa_app_widget
                      %a.loop-link{:alt => "AndroidAuthority App", :href => "https://play.google.com/store/apps/details?id=com.androidauthority.app", :target => "_blank"}
                      %img{:src => "http://cdn01.androidauthority.net/wp-content/themes/aa/images/app_bitmap_mobile.png"}/
                      .aa_app_widget_title
                        %span Android Authority APP
                        %span Get it on
                        %span
                          %img{:src => "http://cdn01.androidauthority.net/wp-content/themes/aa/images//google_play_logo.png"}/
