@import "active_admin/mixins";
@import "active_admin/base";
$skinHeaderBck: #03a9f4;
$skinActiveColor: #03a9f4;
$panelHeaderBck: #03a9f4;
@import "active_skin";

#header h1.site_title  {
  display: none;
}
#titlebar_left h2 {
  display: none;
}
.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}
.inline-hints{
  img{
    width: 200px;
  }
}
.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
    color: #ffffff;
    text-decoration: none;
}
.breadcrumb .breadcrumb_sep {
    margin: 0 2px;
    color: #ffffff;
}




