.content-panel.loop-sidebar-right {
    margin-left: 15px;
}
.content-panel.loop-sidebar-right, .content-panel.single-sidebar {
    background: transparent;
    max-width: 300px;
}
.widgets {
    position: relative;
    top: -1px;
}
.bar-label .label-text {
    display: inline-block;
    font-family: Open Sans,sans-serif !important;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.5em;
    position: relative;
    letter-spacing: -0.02em;
    a{
     color: #54cc39;
    }
}
.overlay-panel .article-image-wrapper {
    height: 202px;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.overlay-panel .article-image-wrapper {
    position: relative;
}
// .loop-image-wrapper:before, .aa_nn_image:before, .trending-image-wrap:before, .article-image-wrapper:before {
//     content: '';
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: rgba(0,0,0,.03);
//     left: 0;
//     top: 0;
// }
.overlay-panel .article-title-wrapper {
    position: absolute;
    bottom: 0;
    padding: 17px 13px;
    z-index: 2;
}
.overlay-panel .article-title-wrapper h4 {
    color: #fff;
    font-size: 20px;
    font-family: Open Sans Extrabold,sans-serif;
    margin: 0;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}
.aa_item_info_block {
    font-size: 12px;
}

.aa_item_info_block span, .content-panel .loop-info-wrapper .bottom-loop-info {
    color: #9d9d9d;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-right: 0px;
    position: relative;
    display: inline-block;
}
.overlay-panel .article-title-wrapper h4 a{
    color: #fff;
    font-size: 20px;
    font-family: Open Sans ,sans-serif;
    margin: 0;
    font-weight: 800;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
}
.aa_item_info_block {
    padding-bottom: 15px;
}
.widget_a.compact-panel.deals_item {
    height: auto;
    overflow: hidden;
}

.widget_a.compact-panel, .trending-bar {
    position: relative;
    overflow: visible;
    padding: 0;
    border-bottom: 0;
    min-height: auto;
    margin-bottom: 25px;
    height: 56px;
}
.widget_a.compact-panel.deals_item .article-image-wrapper {
    margin-right: 10px !important;
}

.widget_a.compact-panel .article-image-wrapper, .trending-image-wrap {
    position: relative !important;
    left: auto;
    float: left;
    margin-right: 13px !important;
}

.widget_a .article-image-wrapper {
    left: 15px;
}

.compact-panel .article-image-wrapper {
    position: absolute !important;
    z-index: 2;
    margin: 0 !important;
    left: 18px;
}
.widget_a.compact-panel.deals_item .article-image {
    width: 89px;
    height: 78px;
}
.widget_a.compact-panel.deals_item .article-info {
    padding-left: 100px !important;
}
.widget_a.compact-panel .article-info, .trending-content-wrap {
    padding-left: 77px !important;
    max-height: 56px;
}
.widget_a.compact-panel .article-title, .article-title {
    color: #3f3f3f;
    font-family: Open Sans ,sans-serif;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 14px;
    letter-spacing: -0.02em;
    max-height: 40px;
    overflow: hidden;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-weight: 600;
}
.aa_deal_prices {
    font-family: Open Sans ,sans-serif;
    font-weight: 600;
}
.aa_deal_prices .aa_new_price {
    font-size: 15px;
    color: #6fc612;
}
